*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(/Images/camilla_2022_transparent.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: bottom 40% right 20%;
}

.container {
  padding: 0.6rem 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 14rem;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0.6rem 1.2rem;

}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #df9d03;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 5%;
  font-size: 1.9rem;
}

.header-text h1 {
  font-size: 3rem;
  margin-top: 1.25rem;    
}

.header-text h1 span {
  color: #614502;
}

/*--------------about--------------*/

#about {
  padding: 5rem 0;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about_col_1 {
  flex-basis: 35%;
}

.about_col_1 img {
  width: 100%;
  border-radius: 1rem;
}

.about_col_2 {
  flex-basis: 60%;
}

.subtitle {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

.tab_titles {
  display: flex;
  margin: 1.2rem 0 2.5rem;
}

.tab_links {
  margin-right: 3.1rem;    
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;

}

.tab_links::after {
  content: '';
  width: 0;
  height: 0.2rem;
  background:  #df9d03;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: 0.5s;
}

.tab_links.active_link::after {
  width: 50%;
}

.tab_contents ul li {
  list-style: none;
  margin: 0.6rem 0;
}

.tab_contents ul li span {
  color: #614502;
  font-size: 0.9rem;
}

.tab_contents {
  display: none;
}

.tab_contents.active_tab {
  display: block;
}

/*---------------services------------*/
#services {
  padding: 1.9rem 0;  
}

.services_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.6rem 1fr));
  grid-gap: 2.5rem;
  margin-top: 3.1rem;  
}

.services_list div{
  background: #262626;
  padding: 2.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  border-right: 0.6rem;
  transition: background 0.5s, transform 0.5s;
}

.services_list div i {
  font-size: 3.1rem;
  margin-bottom: 1.9rem;
}

.services_list div h3 {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 0.9rem;
}

.services_list div a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  margin-top: 1.2rem;
  display: inline-block;
}

.services_list div:hover {
  background-color: #614502;
  transform: translateY(-0.6rem);
}

/* -------------------portfolio-------------*/

#portfolio {
  padding: 3.1rem 0;

}

.work_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.6rem 1fr));
  grid-gap: 2.5rem;
  margin-top: 3.1rem; 
}

.work {
  border-radius: 0.6rem;  
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 0.6rem;
  display: block;
}
